@keyframes moving-gradient {
  0% { background-position: -250px 0; }
  100% { background-position: 250px 0; }
}

.vst {
  &-th {
    line-height: 20px;
  }

  &-orderable:hover {
    cursor: pointer;

    .vst-orderable-toggle {
      color: #555 !important;
    }
  }

  &-orderable-toggle {
    font-size: 20px;
    float: right;
    color: #ccc !important;

    &:after {
      content: " \2194";
      display: inline-block;
      transform: rotate(-90deg);
    }

    &.desc:after {
      content: " \2191";
      transform: rotate(0);
    }

    &.asc:after {
      content: " \2193";
      transform: rotate(0);
    }
  }

  &-loading-row div {
    height: 1.5rem;
    background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
    background-size: 500px 1.5rem;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  tr td.vst-loading-row {
    @for $i from 1 through 10 {
      &-#{$i} div {
        animation-delay: #{($i - 11)*100}ms;
      }
    }
  }

  &-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    a {
      position: relative;
      display: block;
      padding: 8px 12px;
      padding: 0.5rem 0.75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;

      &:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
      }
    }
  }

  &-page-item.disabled .vst-page-link {
    pointer-events: none;
    color: #6c757d;
    cursor: auto;
    background-color: #fff;
  }

  &-page-item .vst-page-link {
    cursor: pointer;
  }
}
